*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
header{
    height: 100px;
    display: flex;
    justify-content: center;
    
    align-items: center;
    section{
          display: flex;
          justify-content: center;
          gap: 10px;
          padding-top: 5px;
          height: 50px;
          width: 500px;
          background-color: rgb(185, 189, 188);
    }
    label{
        font-size: 28px;
       
    }
}
 input{ 
  
} 
div{

}
  

#gallery-1
{
    display: grid;
    gap: 23px;
    grid-template-rows: repeat(2,1fr);
    grid-template-columns: repeat(4,250px)

}

#gallery-1 div img {
    width:100% ;
    height: 100%;
    object-fit: cover;
}