 @import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kumbh+Sans:wght,YOPQ@100..900,300&family=Noto+Serif+Georgian:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Outfit:wght@100..900&family=Playwrite+NZ+Basic:wght@100..400&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Quicksand:wght@300..700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans";
    background-color: rgb(247, 243, 243);
} 
header{
    height: 100px;
    display: grid;
    place-items: center;
   section{
    background-color: rgb(193, 194, 191);
    height: 55px;
    width: 700px;
    display: grid;
    grid-template-columns: repeat(4, 1fr) ;
    border-radius: 20px;
    place-items: center;
}
       label{
            font-size: 25px;
            font-weight: 10px;
            text-align: center;
            width: 150px;
            height: 40px;
            border-radius: 20px;

         }
  
        }
   .input{
        place-items: center;
        display: grid;
        grid-template-columns: repeat(4,1fr);
        gap: 165px;
        
   }
label:hover{
    background-color: rgb(255, 255, 255);
    cursor:pointer;
}
main{
    
  display: grid;
  place-items: center;

  } 
    

#gallery-1{
    margin-top: 50px;
    display: grid;
    gap: 23px;
    grid-template-rows: repeat(2,1fr);
    grid-template-columns: repeat(4,250px)
    

}

 div img {
    width:100% ;
    height: 100%;
    object-fit: cover;
}


#gallery-2{
    row-gap: 23px;
    column-gap: 23px;
    margin-top: 150px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(3,200px);
    width: 90%;
    max-width: 1300px
  

}

#gallery-2 div:nth-child(1){
    
     grid-area: 1/1/1/3;
}
#gallery-2 div:nth-child(5){
    grid-area: 2/2/4/2;
}
#gallery-2 div:nth-child(6){
   grid-column-start: 3 ;
   grid-row-start: 2; 
   grid-column-end: 5;
}